@import '../../profile/variables';

.paginationWrap {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:active, &.active {
            a {
                background-color: $PaginationActiveBGColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $PaginationActiveBGColor;
            }
        }
        a {
            display: inline-block;
            width: 41px; height: 41px;
            line-height: 41px;
            border-radius: 4px;
            border: 2px solid $PaginationColor;
            color: $PaginationColor;
            background-color: $PaginationBgColor;
            font-size: $PaginationFontSize;
        }
        [aria-selected="true"] {
            background-color: $PaginationActiveBGColor;
            a {
                background-color: $PaginationActiveBGColor;
            }
        }
    } 
}
