@import '../public/account/variables/colors';
@import '../public/account/variables/text_link';

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


html {
    box-sizing: border-box;
    height: 100%;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
 }

body {
    line-height: 1.5;
    font-weight: 400;
	color: $default;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

// HTML5 display-role reset for older browsers
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

blockquote, q {
    quotes:none;
    border-left: solid 2px #5E35B1;
    margin-left: 0;
    padding-left: 5px;
    color: #5E35B1;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    text-decoration: none;
    transition: all 0.5s ease-in-out 0s;
   &:hover, &:active, &.active {
        //opacity: 0.6;
    }
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid 3A3A43;
    margin:1em 0;
    padding:0;
}

img {
  line-height: 1; vertical-align: top;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template, .hide {
  display: none !important;
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    &:empty {
        margin:0;
    }
}
iframe {
    max-width: 100%;
}

address {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}


// Need Global Style
.flex-nowrap {
	.form-control {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
}
.flex-nowrapleft {
	border-radius: 1rem;
	overflow: hidden;
	.input-group-text {
		padding: 1rem 1.5rem;
	}
	.form-control {
		background-color: transparent;
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}
}

.nobgelements {
	background-color: transparent !important;
	color: $white;
	&:hover, &:active {
		background-color: transparent !important;
		box-shadow: none;
	}
	&::placeholder {
		color: $grayLight !important;
	}
}




//Body Classes Globally

.AuthWrap {
	background: url(../public/main/images/authBgGradient.png) no-repeat center center fixed;
	background-size: 100%;
	height: 100%;
	background-image: radial-gradient(#C051FF80 50%, #1A1A22 100% #1A1A22 0%, #404BE3);;
}


.mainHome {
	background: linear-gradient(#853C9D 0%, #9659EA 40.1%, #3650DD 100%);
}
.walletwrap {
	li {
		display: inline-block;
		padding: 1rem;
	}
	.walletID {
		font-weight: bold;
	}
	.mataaddress {
		color: #FFFFFF;
		margin-right: 2rem;
	}
}
.fontWeightBold {
	font-weight: bold;
}

// Need to Keep 
.colThumb {
    border: 1px solid $border;
    width: 88px;
    height: 88px;
    border-radius: 24px;
    display: inline-block;
}
.ciHead {
	font-size: 48px;
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-weight: 700;
}
.ciSubHead {
	font-size: 32px;
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 64px;
}
.colmargin {
	margin-bottom: 2rem;
}







  .profile3 {
    color: #FFFFFF;
    background: #000000 url(../public/profile/profile002/images/body.svg);
    font-family: 'VT323', monospace !important;
    a {
      color: #FFFFFF;
    }
  }
  
  .collectionOne {
    // background-image: url(../assets/images/thumbsfull.png);
    background-repeat: no-repeat;
    background-size: cover;
  }



input {
	  border-radius: 1rem !important;
	  border-color: #EAEAED;
}
.modal-header {
	  border-bottom: none;
}
.modal-content {
	border-radius: 1rem;
}

@media all and (min-width: 1025px) {
    .lineBreak {
		display: block;
	}
}

@media all and (max-width: 1300px) {
    .container {
        max-width: 100% !important;
    }
}