/*@import '../../main_theme/component/groupvariable';
@import '../../main_theme/component/mixin';*/
@import '../variables';

// @import '../../thumbnails/thumb002/thumb002.scss';


.bannerImg {
    display: flex;
    justify-content: center;
    position: relative;
    height: 360px;
    text-align: center;
    img {
        width: 100%;
        object-fit: cover;
    }
}
.profileImg {
    text-align: center;
}
.walletConnect {
    position: absolute;
    top: 24px; right: 24px;
}
.userWrap {
    max-width: 508px;
    margin: -150px auto 0 auto;
    .userName {
        font-size: $profileH1FontSize;
        color: $profileH1FontColor;
        text-align: center;
    }
    .userMore {
        font-size: $profileH2FontSize;
        color: $profileH2FontColor;
        text-align: center;
    }
    .userDesc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $profileH4FontSize;
        color: $profileH4FontColor;
        text-align: left;
    }
}
.btnGroups {
	.btn {

		font-size: 1.5rem;
		&:not(:last-child) {
			margin-right: 32px;
		}
	}
}

.likeWrap {
    border-top: 1px dashed #FFFFFF;
    border-bottom: 1px dashed #FFFFFF;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.statusWrap {
    font-size: $statusWrapFontSize;
    color: $statusWrapColor;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    > span {
        font-weight: 600;
        flex: 0 0 50%;
        font-size: 18px;
        max-width: 50%;
    }
    .num {
        margin: 0 auto 5px auto;
        display: block;
        font-size: 2rem;
    }
}


.userId {
    transition: all 0.3s;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    margin-bottom: 8px;
    font-size: $profileH4FontSize;
    color: $profileH4FontColor;
    text-align: center;
}

.copyTxt {
    margin-left: 1rem;
}
.btnPrimary {
    padding: 0.5rem 1rem;
    display: inline-block;
    border: 2px solid $textColor;;
    font-size: 1.5rem;
    transition: all 0.5s;
    margin-bottom: 2rem;
    border-radius: 4px;
    &:not(:last-child) {
        margin-right: 1rem;
    }
    &:hover, &:active {
        background-color: $textBgColor;
    }
    &.active {
        background-color: $textBgColor;
    }
}

// Tabs Dssign
.collectionTabsWrapper {
    text-align: center;
}

.nav {
    flex-direction: column;
    button {
        width: 100% !important;
        background-color: transparent;
        border-color: transparent;
        color: #FFFFFF;
    }
}

.paginationWrap {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    li {
        border: none !important;
        padding: 0 !important;
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:active, &.active {
            a {
                background-color: $textBgColor;
            }
        }
        &:hover, &.hover {
            a {
                background-color: $textBgColor;
            }
        }
        a {
            display: inline-block;
            width: 41px; height: 41px;
            border-radius: 4px;
            border: 2px solid $PaginationColor;
            color: $PaginationColor;
            background-color: $PaginationBgColor;
            font-size: $PaginationFontSize;
        }
        [aria-selected="true"] {
            background-color: $PaginationActiveBGColor;
            a {
                background-color: $PaginationActiveBGColor;
            }
        }
    } 
}

// Footer 
.footer {
	padding-top: 87px;
	padding-bottom: 1.5rem;
}
.footerRow {
    display: flex;
    justify-content: space-between
}
.socialContainer {
    list-style: none;
    margin: 0; padding: 0;
    display: inline-flex;
    align-items: center;
    li {
        &:not(:last-child) {
            border-right: 1px solid $textColor;
            margin-right: 1rem;
            padding-right: 1rem;
        }
    }
 	span {
		margin-right: 1rem;
	}
	a {
        color: #FFFFFF;
		&:not(:last-child) {
			margin-right: 35px;
		}
	}
}
.copyright {
    display: flex;
    align-items: center
}