
.assetsAll {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(14rem,1fr));
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.thumbsWrap img {
    border-radius: 8px;
}

