@import '../../../public/account/variables/colors';

.assetGroup {
    display: flex;
    align-items: center;
    > div {
        margin-right: 1rem;
    }
    svg {
        color: $grayLight;
    }
    
}


.thumbImg {
    border-radius: 8px;
}
